<%- include('includes/head'); %>

<section class="container">
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-4">
          <h1 class="text-center my-3">Olá <%= user.email %> </h1>
          <%- include('includes/messages'); %>
         
      </div>
  </div>
  <div class="col-lg-2"></div>
  </div>


</section>


<%-  include('includes/foot'); %>
